html body {
  background-color: black;
  height: 100%;
  width: 100%;
  padding: 30px 30px 0px 30px;
  margin: auto;
}

.logo {
  width: 60%;
  height: 60%;
  justify-items: start;
}

.wrapper {
  display: inline-grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: auto;
  font-size: 1vw;
}

#nav {
  position: absolute;
  right: 1px;
}

#navText {
  font-size: 2vw;
}

#jumbo {
  text-align: center;
  background-color: black;
}

.NavCol {
  color: white;
}

#page {
  margin: 5%;
  display: grid;
  grid-template-areas:
    "b c d"
    "e f g";
  grid-template-columns: auto-fit;
  gap: 1rem;
}
@media (max-width: 600px) {
  #page {
    display: grid;
    grid-template-areas: "a" "b" "c" "d" "e" "f" "g";
    grid-template-columns: 1fr;
    gap: 1rem;
  }
}

.b {
  grid-area: b;
  justify-self: stretch;
}

.c {
  grid-area: c;
  justify-self: stretch;
}

.d {
  grid-area: d;
  justify-self: stretch;
}

.e {
  grid-area: e;
  justify-self: stretch;
}

.f {
  grid-area: f;
  justify-self: stretch;
}

.g {
  grid-area: g;
  justify-self: stretch;
}

#page h1 {
  text-align: center;
  text-transform: uppercase;
  color: darkgray;
  font-family: "Monoton", cursive;
  font-size: 1.5rem;
}

img {
  width: 100%;
}

#jumbo {
  background-image: url("../assetts/images/css-texture-modern-technology-background-cascading-style-sheets-css-code-texture-black-background.jpg");
  opacity: 0.6;
  color: white;
}

.bottomFooter {
  position: relative;
  height: 50px;
  background-color: rgb(17, 30, 30);
  padding-bottom: 0;
  color: white;
  text-transform: uppercase;
  font-size: 0.5vw;
}

.bottomFooter > div {
  position: absolute;
  width: 100%;
  text-align: center;
  bottom: 0;
  padding: 0;
}

.bottomFooter2 {
  height: 300px;
}

#footerDiv {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
}

#footerDiv > .rightFooter {
  height: 100%;
  width: auto;
}

#footerDiv > .centerFooter {
}

#footerDiv > .leftFooter {
  height: 100%;
  width: auto;
}

.logoBottom {
  position: relative;
  height: 30%;
  width: 50%;
}
