html body {
  background-color: black;
  height: 100%;
  width: 100%;
  padding: 30px 30px 0px 30px;
  margin: auto;
}

.logo {
  width: 60%;
  height: 60%;
  justify-items: start;
}

.wrapper {
  display: inline-grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: auto;
  font-size: 1vw;
}

#nav {
  position: absolute;
  right: 1px;
}

#navText {
  font-size: 2vw;
}

#jumbo {
  text-align: center;
  background-color: black;
}

.NavCol {
  color: white;
}

#page {
  margin: 5%;
  display: grid;
  grid-template-areas:
    "b c d"
    "e f g";
  grid-template-columns: auto-fit;
  gap: 1rem;
}
@media (max-width: 600px) {
  #page {
    display: grid;
    grid-template-areas: "a" "b" "c" "d" "e" "f" "g";
    grid-template-columns: 1fr;
    gap: 1rem;
  }
}

.b {
  grid-area: b;
  justify-self: stretch;
}

.c {
  grid-area: c;
  justify-self: stretch;
}

.d {
  grid-area: d;
  justify-self: stretch;
}

.e {
  grid-area: e;
  justify-self: stretch;
}

.f {
  grid-area: f;
  justify-self: stretch;
}

.g {
  grid-area: g;
  justify-self: stretch;
}

#page h1 {
  text-align: center;
  text-transform: uppercase;
  color: darkgray;
  font-family: "Monoton", cursive;
  font-size: 1.5rem;
}

img {
  width: 100%;
}

#jumbo {
  background-image: url("../assetts/images/css-texture-modern-technology-background-cascading-style-sheets-css-code-texture-black-background.jpg");
  opacity: 0.6;
  color: white;
}

.bottomFooter {
  position: relative;
  height: 50px;
  background-color: rgb(17, 30, 30);
  padding-bottom: 0;
  color: white;
  text-transform: uppercase;
  font-size: 0.5vw;
}

.bottomFooter > div {
  position: relative;
  width: 100%;
  text-align: center;
  bottom: 0;
  padding: 0;
}

.bottomFooter2 {
  height: 300px;
}

#footerDiv {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 100%;
  height: 100%;
  width: 100%;
}

@media (max-width: 600px) {
  #footerDiv {
    display: grid;
    grid-template-rows: 100%;
    grid-template-columns: 100%;
    height: 100%;
    width: 100%;
    text-align: center;
  }
}

#footerDiv > .rightFooter {
  height: 100%;
  width: auto;
}

#footerDiv > .centerFooter {
}

#footerDiv > .leftFooter {
  height: 100%;
  width: auto;
}

#leftFoot {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto;
  height: 100%;
  width: 100%;
}

.logoBottom {
  display: block;
  margin: auto;
  max-width: 150px;
  max-height: 150px;
  width: auto;
  height: auto;
}

.footerInfo > p {
  margin-left: 5%;
  margin-right: 5%;
  text-align: start;
}

.rightFooter > h2 {
  position: relative;
  margin-top: 20px;
  text-decoration: underline;
  font-size: 1.5vw;
  text-align: end;
  padding: 3%;
}

.rightFooter > ul {
  font-size: 0.8vw;
  list-style: none;
  text-align: end;
  padding: 3%;
}

.item-1,
.item-2,
.item-3 {
  position: absolute;
  display: block;
  top: 50%;

  width: 60%;
  font-size: 1vw;

  animation-duration: 20s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}

.slideShow {
  overflow: hidden;
  position: relative;
  color: white;
  height: 200px;
  width: 100%;
  text-align: center;
}

.slideShow > h2 {
  font-size: 1vw;
  text-decoration: underline;
  font-weight: bold;
}

.item-1 {
  animation-name: anim-1;
}

.item-2 {
  animation-name: anim-2;
}

.item-3 {
  animation-name: anim-3;
}

@keyframes anim-1 {
  0%,
  8.3% {
    left: -100%;
    opacity: 0;
  }
  8.3%,
  25% {
    left: 20%;
    opacity: 1;
  }
  33.33%,
  100% {
    left: 110%;
    opacity: 0;
  }
}

@keyframes anim-2 {
  0%,
  33.33% {
    left: -100%;
    opacity: 0;
  }
  41.63%,
  58.29% {
    left: 20%;
    opacity: 1;
  }
  66.66%,
  100% {
    left: 110%;
    opacity: 0;
  }
}

@keyframes anim-3 {
  0%,
  66.66% {
    left: -100%;
    opacity: 0;
  }
  74.96%,
  91.62% {
    left: 20%;
    opacity: 1;
  }
  100% {
    left: 110%;
    opacity: 0;
  }
}
